body {
  padding-top: 70px;
}

.about {
  width: 45em;
  margin: 60px auto;
  padding: 30px;
  border: 1px;
  border-style: solid;
  color: #333;
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word;
  border-color: #ddd;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
}

.about img {
  height: 100px;
}

.navbar-brand {
    padding: 10px 30px 10px 10px;
    font-size: 18px;
}

.navbar-brand>img {
    display: inline;
    padding-right: 5px;
}